<%= render "layouts/navbar" %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Turmas</h1>
<hr>
<section class="content-section" id="alunos-desc">
  <% @classrooms.each do |classroom| %>
    <div class="container">
      <div class="pull-right">
        <%if @current_user.is_a?(Employee) %>
          <%if @current_user.permission=="Secretary" %>
            <%= link_to '<span class="fa fa-address-card"></span> Visualizar Matérias'.html_safe,show_subjects_path(classroom), class:'btn btn-sm btn-warning' %>
          <% end %>
        <% end %>
      </div>
      <div class="row item">
        <div class="col-sm-12 col-md-8 descript">
          <h3 class="">Nome da Turma: <%= classroom.name_classroom %></h3>
          <h3 class="">Turno: <%= classroom.shift_classroom %></h3>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</section>
