<div class="container">
  <div class="row">
    <div class="text-justify col-xs-12 col-sm-6">
      <h2>Logar como responsável</h2>
      <p>Login: primeiro nome e ultimo nome separados por um ponto, tudo minusculo. Ex: nome do usuário: João Silva, login:joão.silva</p>
      <p>Senha: 1234 acrescido da primeira letra do primeiro e último nome. Ex: nome do usuário: João Silva, senha:1234js</p>
    </div>
    <div class="text-justify col-xs-12 col-sm-6">
      <h2>Logar como aluno</h2>
      <p>Login: matrícula do aluno. Ex: 333456</p>
      <p>Senha: matrícula do aluno. Ex: 333456</p>
    </div>
  </div>
</div>
