<%= form_for (@notification) do |f| %>
<% if @notification.errors.any? %>
  <div class="container">
    <div class="text-danger">
      <div id="error_explanation">
        <h2 class=""><%= pluralize(@notification.errors.count, "erro") %> proibiram este formulario de ser salvo:</h2>
        <ul>
        <% @notification.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
