<h1 class="text-uppercase text-center" id="title-list">
  <span class="glyphicon glyphicon-list text-left"></span>
   Notificações
</h1>
<hr>
<%= @notifications.each do |note| %>
  <p><%= note.title %></p>
<% end %>
<%= link_to "nova notificação", new_notification_path %>
