
<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="text-capitalize text-center">Resetar senha</h1>
    <%= form_for @user do |user| %>
    <div class="form-group">
      <%= user.label :password, class:'text-muted text-uppercase' %>
      <div class="input-group">
        <span class="input-group-addon fa fa-unlock"></span>
        <%= user.password_field :password, class:'form-control', placeholder:'Insira a nova senha.' %>
      </div>
    </div>
      <%= user.submit, class:'btn btn-block btn-success' %>
    <% end %>
  </div>
</div>
