<%= render "layouts/navbar" %>
<section class="content-section" id="create">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1 class="text-center text-uppercase">
~~~~~~ dev_crud_parent
          <span class="glyphicon glyphicon-plus"></span> Criar responsável
~~~~~~
          <span class="glyphicon glyphicon-plus"></span> Criar usuário
~~~~~~ dev_crud_alumn
        </h1>
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</section>
