<%= render "layouts/navbar" %>
<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de Professores</h1>
<hr>
<section class="content-section" id="alumns-list">
  <% @users.each do |user| %>
    <div class="container">
      <div class="row item">
        <div class="col-sm-12 col-md-4">
          <%= image_tag("avatar_250x300.png", alt: "", class: "img-responsive" ) %>
        </div>
        <div class="col-sm-12 col-md-8 text-capitalize descript">
          <h2><%= user.name %></h2>
          <%= link_to '<span class="fa fa-search-plus"></span> Vizualizar'.html_safe, user_path(user), class:'btn btn-default' %>
        </div>
      </div>
      <hr>
    </div>
  <% end %>
</section>
