
<table border="1">
  <tr>
    <th>Nome</th>
    <th>Matéria</th>
    <th>Notas</th>
    <th>Faltas</th>
    
  </tr>

  <% @alumns.each do |alumn| %>

    <tr>
      <td> <%= alumn.name%> 

        <td> 
          <% alumn.classroom.subjects.each do |subject| %>
            <%= subject.name_subject %> <br>
            
       
          <% end %>

          <td>

          </td>

          <td>
            <% alumn.school_misses.each do |miss|  %>
              <$= miss.date.day %>/<%= miss.date.month %>/<%= miss.date.year %> <br>
            <% end %>
          </td>
        </td>
        
      </td>   
    </tr>
  <% end %>


