<h1 class="text-uppercase text-center" id="title-list"><span class="glyphicon glyphicon-list text-left"></span> Lista de alunos</h1>
<hr>
<section class="content-section" id="alumns-list">

  <% @alumns.each do |alumn| %>
  <div class="container">
          <div class="row item">
              <div class="col-sm-12 col-md-4">
                  <img src="img/foto%20250x300.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-sm-12 col-md-8 text-capitalize descript">
                  <h3 class=""><span class="glyphicon glyphicon-user"></span> <%= alumn.name_alumn %></h3>
                  <h4 class="">aluno da escola CEM01</h4>
                  <!-- <h4 class="text-success">status: ok</h4> -->
                  <h4><%= alumn.shift_alumn %></h4>
                  <%= link_to 'show', alumn_path(alumn), class:'btn btn-default' %>
              </div>
          </div>
          <hr>
  <% end %>
</section>
