<section class="content-section" id="create">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center text-uppercase">
          <span class="glyphicon glyphicon-plus"></span> Criar usuário
        </h1>
        <%= render 'alumns/form' %>
      </div>
    </div>
  </div>
</section>
