/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

// Importing of bootswatch's flat theme for bootstrap
@import "bootstrap-sprockets";

@import "bootswatch/flatly/variables";

@import "bootstrap";

// Add space for fixed navbar to correctly be shown
body {
  padding-top: 3em;
}
.btn-roxo{
 background-color: #7B52AB;
 color: white;
}

.btn-roxo:hover{
 background-color: #9768D1;
}

.grade-group{
  margin-right: 1em;
  margin-left: 1em;
}

.btn-shades{
 background-color: #aaa;
 color: white;
}

.btn-shades:hover{
 background-color: #555;
 color: white;
}

@import "bootswatch/flatly/bootswatch";
