#title-list{
  margin-top: 3em;
}

.navbar-default{
  padding: 0.7em;
}

.navbar-header{
  padding: 0;
}

.navbar-header a{
  overflow: auto;
  display: inline-block;
  padding-top: 3.5px;
}

.navbar-header button{
  color: white;
  border: solid 3px white;
}

.navbar-brand{
  padding-top: 0.5em;
}

#formz{
  padding-top: 3em;
}

#aluno-s{
  margin-top: 7em;
}

footer{
  padding: 1.5em;
}

.img-responsive{
    margin: 0 auto;
}

.descript{
    padding-top: 1em;
    text-align: center;
}

.item{
    margin-top: 1em;
    margin-bottom: 1em;
}

#alunos-desc{
    margin-top: 10em;
}

#create{
    padding: 6em;
}

#notification{
  margin-top: 5em;
}

#notification .row{
  padding-top: 5em;
}

#notification p{
  font-size: 1.1em;
}

@media (min-width: 780px) {
  #formz{
    padding-top: 10em;
  }

  .descript{
    padding-top: 2em;
  }
}

@media(min-width: 910px){
    .descript{
        text-align: justify;
    }
}
