 <% if flash[:feedback]%>
  <div class="alert alert-danger" role = "alert"><%= flash[:feedback]%></div>
 <% end %>

<% if flash[:feedback_warning]%>
  <div class="alert alert-warning" role = "alert"><%= flash[:feedback_warning]%></div>
 <% end %>