<div class="container" id="aluno-s">
  <div class="row">
    <div class="col-xs-11">
      <form>
        <div class="form-group">
          <label for="srch" class="sr-only">srch</label>
          <div class="input-group">
            <span class="input-group-addon fa fa-search"></span>
            <input class="form-control" type="text" name="username" id="srch" placeholder="Digite aqui para pesquisar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
