<!DOCTYPE html>
<html>
  <head>
    <title>Escola X - The application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="../../assets/stylesheets/master.css" media="screen" title="no title">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#coll-nav" aria-expanded="false">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="img/Logo Escola X 50x50.png" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="coll-nav">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
              <li><a href="criar.html">Criar usuário</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

  <footer>
    <div class="container text-center text-muted">
        <p>&copy; GPL-v.3</p>
    </div>
  </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
