<%= render "layouts/navbar" %>
<br>
<br>
 <!-- Field of barcode to look for alumn -->
<form>
  <div class="form-group" style="width:15%; margin:0 auto;" >

    <%= form_tag(alumns_path, :method => 'get' ) do %>
        <%= text_field_tag :bar_code, params[:bar_code] , placeholder: "Código de barras" , value: "" , autofocus: "True"%>
    <% end %>

  </div>
</form>